extends default

block content
  form(method='POST' action='/admin_create_post_post' autocomplete="off")
    div.postFrame.new-post-topDiv
      h1.new-post-header Submit a new post.
      div.new-post-form-group
        label(for='title').new-post-label Title:&nbsp;
        br
        input.new-post-input(type='text', placeholder='Title of post here.' name='title')

      div.new-post-form-group
        label(for='subtitle').new-post-label Subtitle:&nbsp;
        br
        input.new-post-input(type='text', placeholder='Subtitle of post here.' name='subtitle')

      div.new-post-form-group
        label(for='date').new-post-label Date:&nbsp;
        br
        input.new-post-input(type='text', placeholder='Date of post here.' name='date' value=dateText)

      div.new-post-form-group
        input.new-post-input(type='username', placeholder='fk' name='username',style="visibility: hidden;width:0;height:0;")
        label( for='password').new-post-label Password:&nbsp;
        br
        input.new-post-input(autocomplete="new-password",type='password', placeholder='You already know' name='password')
      br
      div.new-post-form-body
        label(for='body').new-post-label Body:&nbsp;
        br
        textarea.new-post-text-area(name='body')

      div.new-post-btn-div
        button.new-post-btn(type='submit') Submit
